body{
	width:1200px;
	margin:0 auto;
	color: #272822;
	background-color: #EEF1DE;
	font-family: 微软雅黑;
	/*border:1px solid #DC199C;*/
}
*{
	margin:0px;
	padding:0px;
}
input, textarea {
	font-family: Microsoft YaHei, SimSun, Arial;
	font-size: 13px;	
}
/*按钮的设置*/
.input{
	margin-left:20px;
	width:50px;
	height: 30px;
	background:#890074;
	color:#fff;
}
.body{
	width:1000px;
	height:900px;
	margin:0 auto;
	/*outline:1px solid red;*/
	background-color: #fff;
}
/*写标题的部分*/
.title{
	float: left;
    /*margin-right:630px;*/
	width:300px;
	height: 120px;
	display: inline-block;
	/*outline:1px solid red;*/
}
.title h1{
	line-height: 250%;
	font-size:35px;
	color:#890074;
	margin-top:30px;
	position:relative;
	text-shadow:2px 2px 0 #7C6A9D;
}
.title p{
	line-height: 150%;
	float:left;
	margin-top:-10px;
	color:#7C6A9D;
	position:absolute;
}
/*返回首页的样式和注销的总框*/
.menu{
     width:150px;
	 height: 20px;
     padding-top: 20px;
    float: right;
	display: inline-block;
	/*outline:1px solid red;*/
}
/*返回首页的样式*/
.return{
	color: #FFFFCB;
	text-shadow:1px 2px 0 #600070;
	font-size: 15px;
	padding: 3px;
	margin-bottom: 3px;
	text-decoration: none;
	
}
/*整个头部*/
.header{
	width: 1000px;
	height: 210px;
	margin: 0 auto;
	background: url(images/img1.png);
	position:absolute;
}
/*logo部分*/	
#logo {
	float: left;
	width:120px;
	height: 120px;
}
#logo img{
	float:right;
	width:60px;
	height:60px;
	margin:50px 0px 20px 40px;
}
/*导航条部分*/
.nav{
	width:700px;
	height:50px;
	margin-top:150px;
	padding-left: 30px;
	position:absolute;
}
.nav ul{
	list-style:none;
	font-weight:bold;
	font-family:微软雅黑;
	text-align:center;
}
.nav ul li{
	float:left;
	width:100px;
	margin-left:2px;
}
.nav ul li a{
	color:#890074;
	padding-top:20px;
	text-align:center;
	 text-decoration: none;
	display: inline-block;
		  
}
 .nav ul li a:hover{
 	      width:65px;
		  color:#AF8686; 
		  text-decoration: none;
		}
.nav ul li a:active{
	text-decoration:none;
    color:#DC199C;
}
/*导航条下消息查询的总框的设置*/
#content{
	width: 1000px;
	height: 500px;
	margin-top: 200px;
	position:absolute;
	/*background-color: #FCF2F8;*/
	/*outline: 1px solid #FF429E;*/
}
/*首页*/
/*首页左边上边样式*/
.content_sy_left_u{
	width: 230px;
	height: 140px;
	float: left;
	display: inline-block;
	text-align: center;
	margin:30px 10px 30px 40px;
	color:#FEF2DA;
    /*background-color:rgba(100,100,60,0.1);
	border-radius:250px 400px;*/
	outline: 1px solid #FF429E;
    background-color:#FEF2DA;
	box-shadow: 2px 3px 0 #FF429E;
} 
/*首页左边中边样式*/
.content_sy_left_m{
	width: 230px;
	height: 140px;
	position: absolute;
	display: inline-block;
	text-align: center;
	margin:190px 10px 30px -240px;
	color:#FEF2DA;
    /*background-color:rgba(100,100,60,0.1);
	border-radius:250px 400px;*/
	outline: 1px solid #FF429E;
    background-color:#FEF2DA;
	box-shadow: 2px 3px 0 #FF429E;
} 
/*首页左边下边样式*/
.content_sy_left_d{
	width: 230px;
	height: 140px;
	position: absolute;
	display: inline-block;
	text-align: center;
	margin:345px 10px 30px -240px;
	color:#FEF2DA;
	outline: 1px solid #FF429E;
    background-color:#FEF2DA;
	box-shadow: 2px 3px 0 #FF429E;
} 
/*首页右边样式*/
.content_sy_right{
	width: 650px;
	height: 500px;
	float: right;
	text-align: center;
	color:#600070;
	margin:30px 50px 30px 0px;
	background-color:#FEF2DA;
	outline: 1px solid #FF429E;
	box-shadow: 2px 2px 0 #FF429E;
} 
/*学校通知总框的内容*/
.content_left{
	width: 500px;
	height: 600px;
	float:left;
	background-color: #fff;
	margin:25px 0px 10px 90px;
	position:absolute;
	outline: 1px solid #DC199C;
	box-shadow: 2px 2px 0 #DC199C;
}
/*学校通知头部的设置*/
.content_left_top{
	width: 498px;
	height: 70px;
    background-color: #FEF2DA;
	float:left;
	display: block;
	position: absolute;
	box-shadow: 2px 2px 0 #FFE5E4;
	/*outline:1px solid red;*/
}
/*学校通知超链接的设置*/
.content_left_con {
	list-style: square;
	line-height: 150%;
	font-family:宋体;
	font-size:15px;
	color:#B2009E;
	margin-top:80px;	
}
.content_left_con li{
    margin-left: 40px;
    
}
.content_left_con li a{
    text-decoration:none;
    color: #B2009E;
    height: 25px;
    position:absolute;
    overflow: hidden;
}
.content_left_con li a:hover{
    color:#505269;
    text-decoration:underline;
   }
/*管理员通知总框的设置*/
.content_right_up{
	width: 300px;
	height: 260px;
	float:right;
	clear:both;
	background-color: #fff;	
	text-align: center;
	margin:10px 50px 10px 10px;
	position:relative;
	outline: 1px solid #FF429E;
	box-shadow: 2px 2px 0 #FF429E;
}
/*管理员通知头部的设置*/
.content_right_up_t{
    width: 298px;
	height: 40px;
    background-color: #FEF2DA;
	display: block;
	box-shadow: 2px 2px 0 #FFE5E4;
}
/*管理员通知超链接的设置*/
.content_right_up_con{
    line-height: 200%;
	font-family:宋体;
	font-size:12px;
	color:#505269;
	list-style: square;
	margin-top:15px;
	overflow: hidden;
}
.content_right_up_con li{
	clear: both;
	float: left;
    margin-left: 30px;

}
.content_right_up_con li a{
    text-decoration:none;
    height: 18px;
    color: #B2009E;
    position:absolute;
    overflow: hidden;

}
.content_right_up_con li a:hover{
    color:#505269;
    text-decoration: underline;
}
/*留言查询总框的设置*/
.content_right_down{
	width: 300px;
	height: 268px;
    clear:both;
	float:right;
	background-color: #fff;
	text-align: center;
	margin:20px 50px 10px 10px;
	outline: 1px solid #FF429E;
	box-shadow: 2px 2px 0 #FF429E;
}
/*留言查询中留言者和留言信息的样式*/
.list{
	width:298px;
	height: 34px;
	padding-top: 3px;
	margin-left: 3px;
	clear:both;
	float:left;
	display: block;
	border-bottom:1px solid  #DADADA;

}
/*留言查询中留言者的样式*/
.user{
	width:298px;
	font-family:宋体;
	font-size:10px;
	color: #737373;
	text-align: left;
	padding-left:5px;
	/*border: 1px solid red;*/

}
/*留言查询中留言信息超链接的样式*/
.tit{
	font-family:宋体;
	font-size:10px;
	color: #272822;
	float: left;
	padding-left:5px;
	line-height: 200%;
	text-decoration:none;
}
a:hover{
	
	color:#B30075;
}
/*留言查询中页码数总框的样式*/
.next_page{
	width:298px;
	font-family:宋体;
	font-size:10px;
	color: #737373;
	float: left;
	display: block;
	text-align:left;
	padding-left:5px;
	height: 30px;
	margin-top: 5px;
	
	/*border: 1px solid red;*/
}
/*留言查询中当前页码数的样式*/
.page{
	color: black;
	text-decoration:none;
}
/*留言查询中下一页页码的样式*/
.downpage{
	color: black;
	text-decoration:none;
}
/*查询功能的设置*/
#search{
	width: 300px;
	height: 30px;
	float:right;
	margin:20px 50px 8px 10px;
	position:relative;
}
#search form {
	margin: 0;
	padding: 0px;
}
#search fieldset {
	margin: 0;
	padding: 0;
	border:none;
}
#search #s, #search #x {
	float: left;
}

#search #s {
	width: 188px;
	margin: 2px 6px 0 0;
	padding: 4px 5px;
	
	border: 1px solid #FF429E;
}

#search #x {
	width: 67px;
	height: 28px;
	padding: 0;
	background: #FF429E;
	border: none;
	text-transform: lowercase;
	color: #fff;
}

/*当鼠标点击时颜色的变化*/
.active{
	color:#FF429E;
}
/*已发布消息的部分*/
.content_fb_l{
	width: 400px;
	height: 500px;
	display:block;
	text-align: center;
	margin: 30px 0px 90px 50px;
	outline: 1px solid #FF429E;
	box-shadow: 2px 2px 0 #FF429E;
} 
/*已发布消息ul的部分*/
.content_fb_con{
	list-style:square;
	font-family:宋体;
	line-height:150%;
	font-size:15px;
	color:#B2009E;
	margin-top:20px;
	margin-left:40px;
	position:absolute;

    
} 
/*已发布消息li的部分*/
.content_fb_con li{
	margin-left:10px;
	text-align:left;
}
/*已发布消息超链接的部分*/
.content_fb_con li a{
	text-decoration:none;
    color: #B2009E;
    height: 25px;
    width:300px;
    position:absolute;
    overflow: hidden;
    overflow: ellipsis;
	
}
.content_fb_con a:hover{
	color:#505269;
	text-decoration:underline;

}
/*发布消息的部分*/
.content_fb_r{
	width: 480px;
	height: 500px;
	float:right;
	display:block;
	text-align: center;
	margin: -590px 40px 90px 0px;
	outline: 1px solid #FF429E;
	box-shadow: 2px 2px 0 #FF429E;
} 

.content_fb_lh,.content_fb_rh{
	height: 80px;
	display:block;
	text-align: center;
	background: url(images/img29.jpg);
	overflow:hidden;
    background-color:#FEF2DA;
	outline: 1px solid #FEF2DA;
	box-shadow: 2px 2px 0 #FEF2DA;
} 
.content_fb_lh{
	width: 397px;

}
.content_fb_rh{
	width: 477px;
}
/*资料框，首页，备忘录
里的部分*/
.content_zl_l{
	width: 400px;
	height: 500px;
	float:left;
	display:block;
	text-align: center;
	margin: 50px 50px 90px 40px;
	outline: 1px solid #FF429E;
	box-shadow: 2px 2px 0 #FF429E;
} 
.content_zl_r,.content_zl{
	
	height: 500px;
	display:block;
	text-align: center;
	outline: 1px solid #FF429E;
	box-shadow: 2px 2px 0 #FF429E;
} 
.content_zl_r{
	width: 480px;
	float:right;
	margin: -590px 50px 0px 0px;
}
.content_zl{
	width:700px;
	clear:both;
	margin: 50px 50px 90px 140px;
}
h2{
	color:#890074;
	padding:30px;
	
}
h3{
	color:#890074;
	line-height:350%;
	text-align:center;
}
h4{
	color:#890074;
	line-height:250%;
	text-align:center;
}
/*底部文字部分*/
.footer{
	width: 800px;
    clear:both;
	float:left;
	margin:20px 20px 0px 80px;
	position:relative;
	text-align: center;
	color: #890074;
	/*outline: 1px solid #FF429E;*/
	
}
table{
    margin-top: 15px;
    color: #890074;
}
tr td{
	padding:5px;
	
}