.Correct, .Wrong, .Exp {
	display: inline-block;
	height: 22px;
	line-height: 18px;
	width: 200px;
	padding: 2px 5px 2px 2em;
	font-size: 12px;
	vertical-align:middle;
	margin-left: 6px;
}
.Correct {
	background: url(../images/register.png) 5px 2px no-repeat;


	color: #008800;
}
.Wrong {
	background: url(../images/register.png) 5px -79px no-repeat;
	
	color: #8b2b34;
}
.Exp {
	background: url(../images/register.png) 5px -134px no-repeat;
	color: #006699;
}
.clear {
	clear: both;
}
#tip_-c-h-e-c-k {
	position: relative;
	top: -30px;
	left: 429px;
}